nav {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}
.logo {
    display: flex;
    overflow: hidden;
    margin: 10px;
}
.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a img {
    max-width: 80%;
    max-height: 80px;
}
.animationlogo {
    animation-duration: 5s;
    animation-name: animlogo;
    animation-iteration-count: infinite;
}
@keyframes animlogo {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
    }
    50% {
        -webkit-transform: rotate (180deg);
        transform: rotateY(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
    }
}
.item-fix {
    flex-grow: 1;
    margin: 5px
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav li a {
    font-family: sans-serif;
    font-size: 12px;
    color: grey;
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav li a:hover {
    color: rgb(248, 129, 31);
}
.item-1 {
    width: 100px;
    justify-content: center;
    margin: 10px;
}
header {
    display: flex;
    justify-content: space-evenly;
    height: 260px;
    background-image: url("img/header.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
}
.item-2 {
    width: 90%;
    margin-top: 180px;
    background-color: rgb(216, 210, 210);
    color: rgb(248, 129, 31);
    font-size: 20px;
    text-align: center;
    opacity: 0.6;
}
section {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}
article {
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 5px solid rgb(211, 208, 208);
    background-color: rgb(211, 208, 208);
}
.cultura, .gastronomia, .turismo, .vidanocturna {
    width: 48%;
    background-color: rgb(243, 241, 241);
    padding: 4px;
    margin-top: 5px;
}
.content-box {
    font-size: 11px;
    color: grey;
    font-family: sans-serif;
    text-align: left;
    padding: 10px;
    margin: 0;
    line-height: 1.3;
}
h4 {
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 2px;
    background-color: rgb(252, 141, 137);
    text-align: left;
    padding: 14px;
    margin-bottom: 1px;
    margin-top: 0;
}
.article-1 {
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.fullpost a {
    font-size: 11px;
    color: grey;
    font-family: sans-serif;
    padding: 10px;
    text-decoration: none;
}
.fullpost :hover {
    color: rgb(248, 129, 31);
}
.item-online {
    width: 100%;
    font-size: 11px;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
aside {
    display: flex;
    width: 31%;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    background-color: rgb(211, 208, 208);
}
.item-4 {
    width: 80%;
    font-size: 11px;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
footer {
    display:flex;
    height: 20px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
    font-size: 11px;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    background-color: rgb(235, 231, 231);
    border-left: 5px solid rgb(211, 208, 208);
    border-right: 5px solid rgb(211, 208, 208);
}
/*For Tablets*/
@media only screen
and (min-device-width: 600px) and (max-device-width: 800px) {
    section {
        display: flex;
        flex-direction: column;
    }
    article {
        display: flex;
        width: 99%;
    }
    aside {
        display: flex;
        width: 97%;
    }
}
/*For Mobile Phones*/
@media only screen
and (max-device-width: 600px) {
    nav, header {
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .item-2 {
        width: auto;
        font-size: 12px;
        margin-bottom: 4px;
        letter-spacing: 0.5px;
    }
    section {
        flex-wrap: wrap;
    }
    article, aside, .cultura, .gastronomia, .turismo, .vidanocturna {
        width: auto;
    }
}