header, nav {
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    border: 10px solid black;
}
nav {
    background-color: rgb(90, 84, 84);
}
.item-1 {
    width: 100px;
    background-color: rgb(241, 77, 99);
    margin: 10px;
}
.item-fix {
    flex-grow: 1;
    background-color: rgb(241, 77, 99);
    margin: 10px;
}
header {
    background-color: orange;
}
.item-2 {
    background-color: rgb(247, 247, 101);
    width: 100%;
    margin: 10px;
}
section {
    display: flex;
    height: 200px;
    margin-top: 20px;
}
article, aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 10px solid black;
}
article {
    width: 70%;
    background-color: rgb(73, 72, 72);
}
.item-3 {
    background-color: rgb(63, 63, 243);
    width: 46%;
    margin: 10px;
}
.item-online {
    width: 100%;
    background-color: rgb(131, 189, 243);
    margin: 10px;
}
aside {
    width: 30%;
    background-color: rgb(241, 77, 99);
    align-items: flex-start;
}
.item-4 {
    width: 100%;
    background-color: rgb(247, 247, 101);
    margin: 10px;
}
footer {
    display:flex;
    height: 60px;
    justify-content: space-evenly;
    margin-top: 20px;
    border: 10px solid black;
    background-color: rgb(247, 247, 101);
}
/*For Tablets*/
@media only screen
and (min-device-width: 600px) and (max-device-width: 800px) {
    section {
        flex-direction: column;
        height: 240px;
    }
    article, aside {
        display: flex;
        width: auto;
        border: 10px solid rgb(247, 247, 101);
    }
}
/*For Mobile Phones*/
@media only screen
and (max-device-width: 600px) {
    nav {
        flex-direction: column;
        height: 120px;
    }
    .item-1 {
        width: 95%;
        margin: 10;
    }
    .item-fix {
        flex-grow: 0;
        width: 95%;
    }
    section {
        flex-direction: column;
        height: 310px;
    }
    article {
        background-color: rgb(3, 62, 85);
    }
    .item-3 {
        width: 100%;
        background-color: rgb(14, 108, 124);
    }
    .item-online {
        background-color: rgb(184, 238, 238);
    }
    article, aside {
        display: flex;
        width: auto;
        border: 10px solid rgb(247, 213, 101);
    }
    aside {
        background-color: rgb(255, 145, 0);
    }
    .item-4 {
        background-color: rgb(236, 184, 104);
    }
}